build/
dist/
Lib/
Scripts/
Include/
.xls
.xlsx
.exe
__pycache__/auxiliaryFunction.cpython-312.pyc
__pycache__/classDefinition.cpython-312.pyc
PARTITE REGISTRATE PER CONTABILITA/CATTOLICA/2024/FEBBRAIO 2024/
PARTITE REGISTRATE PER CONTABILITA/CATTOLICA/2024/MARZO 2024/
PARTITE REGISTRATE PER CONTABILITA/GENERALI/2024/FEBBRAIO 2024/
PARTITE REGISTRATE PER CONTABILITA/GENERALI/2024/MARZO 2024/
PARTITE REGISTRATE PER CONTABILITA/TUTELA LEGALE/2024/FEBBRAIO 2024/
PARTITE REGISTRATE PER CONTABILITA/TUTELA LEGALE/2024/MARZO 2024/
____PRIMA_NOTA_TEST_ - Copia.xlsx
COMPLETE_PRIMA_NOTA_TEST_.xlsx
readExcel.exe
VECCHIO_PRIMA_NOTA_TEST_.xlsx
