build/
dist/
Lib/
Scripts/
Include/
.xls
.xlsx
.exe
__pycache__/auxiliaryFunction.cpython-312.pyc
__pycache__/classDefinition.cpython-312.pyc
PARTITE REGISTRATE PER CONTABILITA/CATTOLICA/2024/FEBBRAIO 2024/ElencoFC_14_02_2024_INCASSI_checked.xls
PARTITE REGISTRATE PER CONTABILITA/CATTOLICA/2024/FEBBRAIO 2024/ElencoFC_26_02_2024_INCASSI_checked.xls
PARTITE REGISTRATE PER CONTABILITA/CATTOLICA/2024/FEBBRAIO 2024/ElencoFC_28_02_2024_INCASSI_checked.xls
PARTITE REGISTRATE PER CONTABILITA/CATTOLICA/2024/MARZO 2024/ElencoFC_01_03_2024_INCASSI_checked.xls
PARTITE REGISTRATE PER CONTABILITA/CATTOLICA/2024/MARZO 2024/ElencoFC_04_03_2024_INCASSI_checked.xls
PARTITE REGISTRATE PER CONTABILITA/CATTOLICA/2024/MARZO 2024/ElencoFC_05_03_2024_INCASSI_checked.xls
PARTITE REGISTRATE PER CONTABILITA/CATTOLICA/2024/MARZO 2024/ElencoFC_06_03_2024_INCASSI_checked.xls
PARTITE REGISTRATE PER CONTABILITA/CATTOLICA/2024/MARZO 2024/ElencoFC_07_03_2024_INCASSI_checked.xls
PARTITE REGISTRATE PER CONTABILITA/GENERALI/2024/FEBBRAIO 2024/REPORT - PARTITE REGISTRATE  - 2024-02-05T184337.849_checked.xls
PARTITE REGISTRATE PER CONTABILITA/GENERALI/2024/FEBBRAIO 2024/REPORT - PARTITE REGISTRATE  - 2024-02-14T185826.680_checked.xls
PARTITE REGISTRATE PER CONTABILITA/GENERALI/2024/FEBBRAIO 2024/REPORT - PARTITE REGISTRATE  - 2024-02-15T214102.748_checked.xls
PARTITE REGISTRATE PER CONTABILITA/GENERALI/2024/FEBBRAIO 2024/REPORT - PARTITE REGISTRATE  - 2024-02-16T104104.670_checked.xls
PARTITE REGISTRATE PER CONTABILITA/GENERALI/2024/FEBBRAIO 2024/REPORT - PARTITE REGISTRATE  - 2024-02-19T201407.358_checked.xls
PARTITE REGISTRATE PER CONTABILITA/GENERALI/2024/FEBBRAIO 2024/REPORT - PARTITE REGISTRATE  - 2024-02-20T182414.119_checked.xls
PARTITE REGISTRATE PER CONTABILITA/GENERALI/2024/FEBBRAIO 2024/REPORT - PARTITE REGISTRATE  - 2024-02-21T193132.004_checked.xls
PARTITE REGISTRATE PER CONTABILITA/GENERALI/2024/FEBBRAIO 2024/REPORT - PARTITE REGISTRATE  - 2024-02-22T181504.878_checked.xls
PARTITE REGISTRATE PER CONTABILITA/GENERALI/2024/FEBBRAIO 2024/REPORT - PARTITE REGISTRATE  - 2024-02-23T215104.008_checked.xls
PARTITE REGISTRATE PER CONTABILITA/GENERALI/2024/FEBBRAIO 2024/REPORT - PARTITE REGISTRATE  - 2024-02-26T184241.125_checked.xls
PARTITE REGISTRATE PER CONTABILITA/GENERALI/2024/FEBBRAIO 2024/REPORT - PARTITE REGISTRATE  - 2024-02-27T220415.437_checked.xls
PARTITE REGISTRATE PER CONTABILITA/GENERALI/2024/FEBBRAIO 2024/REPORT - PARTITE REGISTRATE  - 2024-02-28T192956.302_checked.xls
PARTITE REGISTRATE PER CONTABILITA/GENERALI/2024/FEBBRAIO 2024/REPORT - PARTITE REGISTRATE  - 2024-02-29T220710.114_checked.xls
PARTITE REGISTRATE PER CONTABILITA/GENERALI/2024/FEBBRAIO 2024/REPORT - PARTITE REGISTRATE - 2024-02-12T202647.735_checked.xls
PARTITE REGISTRATE PER CONTABILITA/GENERALI/2024/FEBBRAIO 2024/REPORT - PARTITE REGISTRATE - 2024-02-13T191311.383_checked.xls
PARTITE REGISTRATE PER CONTABILITA/GENERALI/2024/MARZO 2024/REPORT - PARTITE REGISTRATE  - 2024-03-01T185112.288_checked.xls
PARTITE REGISTRATE PER CONTABILITA/GENERALI/2024/MARZO 2024/REPORT - PARTITE REGISTRATE  - 2024-03-04T190238.477_checked.xls
PARTITE REGISTRATE PER CONTABILITA/GENERALI/2024/MARZO 2024/REPORT - PARTITE REGISTRATE  - 2024-03-05T191307.207_checked.xls
PARTITE REGISTRATE PER CONTABILITA/GENERALI/2024/MARZO 2024/REPORT - PARTITE REGISTRATE  - 2024-03-06T144257.008_checked.xls
PARTITE REGISTRATE PER CONTABILITA/GENERALI/2024/MARZO 2024/REPORT - PARTITE REGISTRATE  - 2024-03-07T143249.294_checked.xls
PARTITE REGISTRATE PER CONTABILITA/GENERALI/2024/MARZO 2024/REPORT - PARTITE REGISTRATE  - 2024-03-08T175459.236_checked.xls
PARTITE REGISTRATE PER CONTABILITA/TUTELA LEGALE/2024/FEBBRAIO 2024/FEBBRAIO 2024_checked.xls
PARTITE REGISTRATE PER CONTABILITA/TUTELA LEGALE/2024/MARZO 2024/MARZO 2024_checked.xls
____PRIMA_NOTA_TEST_ - Copia.xlsx
PARTITE REGISTRATE PER CONTABILITA/CATTOLICA/2024/FEBBRAIO 2024/ElencoFC_27_02_2024_INCASSI_checked.xls
COMPLETE_PRIMA_NOTA_TEST_.xlsx
readExcel.exe
